/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
    font-size: 62.5%;
}

body {
    font-size: 16px; /* currently ems cause chrome bug misinterpreting rems on body element */
    line-height: 20px;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
}

a {
    color: #1b6bdb;
}

a:hover {
    color: #1b6bdb;
}

input,
textarea,
select,
fieldset {
    margin-bottom: 1.5rem;
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
    margin-bottom: 2.5rem;
}
p{
    font-family: "Open Sans",sans-serif;
    color: #333;
    line-height: 160%;
    margin: 20px 0;
    text-align: left;
}
.one {
    background-color: #2aabd2;
    border: 1px black solid;

}

.mycol {
    border: 1px black solid;
}


nav[role="navigation"] {
    text-align: center;
}

.cd-pagination {
    width: 90%;
    max-width: 768px;
    margin: 2em auto 4em;
    text-align: center;
}
.cd-pagination li {
    /* hide numbers on small devices */
    /*display: none;*/
    margin: 0 .2em;
    list-style-type: none;
}
.cd-pagination li.button {
    /* make sure prev next buttons are visible */
    display: inline-block;
}
.cd-pagination a, .cd-pagination span {
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* use padding and font-size to change buttons size */
    padding: .6em .8em;
    font-size: 1.6rem;
}
.cd-pagination a {
    border: 1px solid #e6e6e6;
    border-radius: 0.25em;
    text-decoration: none;
}
.no-touch .cd-pagination a:hover {
    background-color: #f2f2f2;
}
.cd-pagination a:active {
    /* click effect */
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
}
.cd-pagination a.disabled {
    /* button disabled */
    color: rgba(46, 64, 87, 0.4);
    pointer-events: none;
}
.cd-pagination a.disabled::before, .cd-pagination a.disabled::after {
    opacity: .4;
}
.cd-pagination .button:first-of-type a::before {
    content: '\00ab  ';
}
.cd-pagination .button:last-of-type a::after {
    content: ' \00bb';
}
.cd-pagination .current {
    /* selected number */
    background-color: #2d97af;
    border-color: #64a281;
    color: #ffffff;
    pointer-events: none;
}
.cd-pagination .current a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
@media only screen and (min-width: 640px) {
    .cd-pagination li {
        display: inline-block;
    }
}
@media only screen and (min-width: 1170px) {
    .cd-pagination {
        margin: 4em auto 8em;
    }
}

/* --------------------------------

No space - remove distance between list items

-------------------------------- */
.cd-pagination.no-space {
    width: auto;
    max-width: none;
    display: inline-block;
    border-radius: 0.25em;
    border: 1px solid #e6e6e6;
}
.cd-pagination.no-space:after {
    content: "";
    display: table;
    clear: both;
}
.cd-pagination.no-space li {
    margin: 0;
    float: left;
    border-right: 1px solid #e6e6e6;
}
.cd-pagination.no-space li:last-of-type {
    border-right: none;
}
.cd-pagination.no-space a, .cd-pagination.no-space span {
    float: left;
    border-radius: 0;
    padding: .8em 1em;
    border: none;
}
.cd-pagination.no-space li:first-of-type a {
    border-radius: 0.25em 0 0 0.25em;
}
.cd-pagination.no-space li:last-of-type a {
    border-radius: 0 0.25em 0.25em 0;
}

/* --------------------------------

move buttons - move prev and next buttons to the sides

-------------------------------- */
.cd-pagination.move-buttons:after {
    content: "";
    display: table;
    clear: both;
}
.cd-pagination.move-buttons .button:first-of-type {
    float: left;
}
.cd-pagination.move-buttons .button:last-of-type {
    float: right;
}

.cd-pagination.no-space.move-buttons {
    width: 90%;
    max-width: 768px;
    display: block;
    overflow: hidden;
}
.cd-pagination.no-space.move-buttons li {
    float: none;
    border: none;
}
.cd-pagination.no-space.move-buttons a, .cd-pagination.no-space.move-buttons span {
    float: none;
}

/* --------------------------------

custom icons - customize the small arrow inside the next and prev buttons

-------------------------------- */
.cd-pagination.custom-icons .button a {
    position: relative;
}
.cd-pagination.custom-icons .button:first-of-type a {
    padding-left: 2.4em;
}
.cd-pagination.custom-icons .button:last-of-type a {
    padding-right: 2.4em;
}
.cd-pagination.custom-icons .button:first-of-type a::before,
.cd-pagination.custom-icons .button:last-of-type a::after {
    content: '';
    position: absolute;
    display: inline-block;
    /* set size for custom icons */
    width: 16px;
    height: 16px;
    top: 50%;
    /* set margin-top = icon height/2 */
    margin-top: -8px;
    background: transparent url("cd-icon-arrow-1.svg") no-repeat center center;
}
.cd-pagination.custom-icons .button:first-of-type a::before {
    left: .8em;
}
.cd-pagination.custom-icons .button:last-of-type a::after {
    right: .8em;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.breadcrumb{
    overflow: hidden;
    width: 100%;
}

.breadcrumb li{
    float: left;
    margin: 0 .5em 0 1em;
}

.breadcrumb a{
    background: #ddd;
    padding: .7em 1em;
    float: left;
    text-decoration: none;
    color: #444;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    position: relative;
}

.breadcrumb a:hover{
    background: #99db76;
}

.breadcrumb a::before{
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -1.5em;
    border-width: 1.5em 0 1.5em 1em;
    border-style: solid;
    border-color: #ddd #ddd #ddd transparent;
    left: -1em;
}

.breadcrumb a:hover::before{
    border-color: #99db76 #99db76 #99db76 transparent;
}

.breadcrumb a::after{
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -1.5em;
    border-top: 1.5em solid transparent;
    border-bottom: 1.5em solid transparent;
    border-left: 1em solid #ddd;
    right: -1em;
}

.breadcrumb a:hover::after{
    border-left-color: #99db76;
}

.breadcrumb .current,
.breadcrumb .current:hover{
    font-weight: bold;
    background: none;
}

.breadcrumb .current::after,
.breadcrumb .current::before{
    content: normal;
}
blockquote {
    background: #dbedff none repeat scroll 0 0;
    border-left: 3px solid #0a6fb7;
    padding: 8px 10px;
}
img {
    width: 100%; /* ширина картинки */
    height: auto; /* высота картинки */
}
.footer{
    height: 50px;
}