/* font-family: "RobotoRegular"; */
@font-face {
    font-family: "RobotoRegular";
    src: url("../fonts/RobotoRegular/RobotoRegular.eot");
    src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
    url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
    font-family: "RobotoLight";
    src: url("../fonts/RobotoLight/RobotoLight.eot");
    src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoLight/RobotoLight.woff") format("woff"),
    url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
    font-family: "RobotoMedium";
    src: url("../fonts/RobotoMedium/RobotoMedium.eot");
    src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"),
    url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
    font-family: "RobotoBold";
    src: url("../fonts/RobotoBold/RobotoBold.eot");
    src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoBold/RobotoBold.woff") format("woff"),
    url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "NautilusPompiliusRegular"; */
@font-face {
    font-family: "NautilusPompiliusRegular";
    src: url("../fonts/NautilusPompiliusRegular/NautilusPompiliusRegular.eot");
    src: url("../fonts/NautilusPompiliusRegular/NautilusPompiliusRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/NautilusPompiliusRegular/NautilusPompiliusRegular.woff") format("woff"),
    url("../fonts/NautilusPompiliusRegular/NautilusPompiliusRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoCondensedRegular"; */
@font-face {
    font-family: "RobotoCondensedRegular";
    src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot");
    src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff") format("woff"),
    url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoCondensedLight"; */
@font-face {
    font-family: "RobotoCondensedLight";
    src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot");
    src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoCondensedLight/RobotoCondensedLight.woff") format("woff"),
    url("../fonts/RobotoCondensedLight/RobotoCondensedLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoCondensedBold"; */
@font-face {
    font-family: "RobotoCondensedBold";
    src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot");
    src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoCondensedBold/RobotoCondensedBold.woff") format("woff"),
    url("../fonts/RobotoCondensedBold/RobotoCondensedBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    /*font-family: "RobotoRegular", sans-serif;*/
    /*font-family: "RobotoCondensedRegular", sans-serif;*/
    font-family: "RobotoLight", sans-serif;
    /*font-family: "RobotoCondensedLight", sans-serif;*/
    /*font-family: "RobotoMedium", sans-serif;*/
    /*font-family: "RobotoBold", sans-serif;*/
    /*font-family: "RobotoCondensedBold", sans-serif;*/
    /*font-family: "NautilusPompiliusRegular", sans-serif;*/
    font-size: 16px;
    line-height: 1.5;
}
b , strong{
    font-family: "RobotoBold", sans-serif;
    font-weight: normal;
}
h1,h2,h3,h4,h5,h6{
    font-family: "RobotoMedium", sans-serif;
    font-weight: 400;
    color: #22133e;
}
h2{
    font-family: "RobotoLight", sans-serif;
    text-transform: uppercase;
}
a{
    color: #22133e;
    text-decoration: none;
    transition: background 0.3s linear 0s, color 0.3s linear 0s;
}
a:hover{
    color: #757575;
}
.top-line{
    background-color: #22133e;
    text-align: center;
}
.top-line a{
    color: #fff;
}
.top-line ul{
    list-style-type: none;
    padding: 0;
   /* margin: 0;*/
}
/* ul */
.sf-menu{
    margin: 0 auto -6px;
    float: none;
    display: inline-block;
    font-family: "RobotoMedium", sans-serif;
    font-size: 0.9em;
}
.sf-menu > li{
    display: inline-block;
    background: transparent;
}
.sf-menu > li.active{
    background-color: #1c0f32;
}
.sf-menu > li.active > a{
    color: #fc0;
}
.sf-menu > li:hover{
    background-color: #1c0f32;
}
.sf-menu > li a{
    color: #fff;
    border: none;
    padding: 15px 28px;
}
.sf-menu > li a:hover{

}
.sf-menu > li ul li{
    background-color: #22133e;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    white-space: nowrap;
}
.sf-menu > li ul li a{
    padding: 10px 20px;
    text-align: left;
}
.sf-menu > li ul li:hover{
    background: #1c0f32;
    color: #fc0;
}
.mobile-menu{
    background: #fc0;
    cursor: pointer;
    padding: 5px 15px;
    text-align: center;
}
.toggle-menu {
    display: block;
    width: 28px;
    height: 28px;
    float: left;
}
.toggle-menu span:after, .toggle-menu span:before {
    content: "";
    position: absolute;
    left: 0;
    top: 9px;
}
.toggle-menu span:after {
    top: 18px;
}
.toggle-menu span {
    position: relative;
    display: block;
}
.toggle-menu span, .toggle-menu span:after, .toggle-menu span:before {
    width: 100%;
    height: 2px;
    background-color: #22133e;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
}
.toggle-menu.on span {
    background-color: transparent;
}
.toggle-menu.on span:before {
    transform: rotate(45deg) translate(-1px, 0px);
}
.toggle-menu.on span:after {
    transform: rotate(-45deg) translate(6px, -7px);
}

.preloader {
    background-image: url("img/preloader.gif");
}
.preloader {
    background-color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
.footer{
    background-color: #1c0f32;

}
.footer h4{
    color: #fff;
}
.footer h4 a{
    color: #fff;
}
.footer h3{
    color: #fff;
}

th,
td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #E1E1E1;
}

th:first-child,
td:first-child {
    padding-left: 0;
}

th:last-child,
td:last-child {
    padding-right: 0;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
    height: 38px;
    padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    width: 100%;
}

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

textarea {
    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    border: 1px solid #33C3F0;
    outline: 0;
}

label,
legend {
    display: block;
    margin-bottom: .5rem;
    font-weight: 600;
}

fieldset {
    padding: 0;
    border-width: 0;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline;
}

label > .label-body {
    display: inline-block;
    margin-left: .5rem;
    font-weight: normal;
}


.alert {
    display: block;
    width: calc(100% - 30px);
    font-weight: 300;
    font-size: 16px;
    text-align: left;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 0px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    background-color: #E1F5FE;
    color: #03A9F4;
    border-color: #03A9F4;
}

.alert a {
    text-decoration: none;
    font-weight: normal;
}

.alert-error {
    color: #D32F2F;
    background-color: #FFEBEE;
    border-color: #F44336;
}

.alert-warning {
    background-color: #FFF8E1;
    color: #FF8F00;
    border-color: #FFC107;
}

.alert-done {
    background-color: #E8F5E9;
    color: #388E3C;
    border-color: #4CAF50;
}

.date{
    font-family: "RobotoCondensedRegular", sans-serif;
}
.border{
    border: 1px solid #c6c6c6;
}
img {
    width: 100%; /* ширина картинки */
    height: auto; /* высота картинки */
}
.page-item h1{
    font-family: "RobotoLight", sans-serif;
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.25;
}
.page-item .content{
    font-family: "RobotoRegular", sans-serif;
}

.paginator{
    margin: 20px 0;
    padding: 0;
    text-align: center;
}
.paginator li{
    display: inline-block;
    font-size: 16px;
    margin: 0;
    padding: 0 2px;
}
.paginator li a{
    padding: 6px 12px;
    margin: 0;
}
.paginator li a:hover{
    background-color: #22133e;
    color: yellow;
}
.paginator li.current a{
    color: #fff;
    background-color: #22133e;
}
.block {
    display: block;
    width: 100%;
}

.block-center {
    margin: auto;
    display: block;
}

.hide {
    display: none;
}

.show-inline {
    display: inline;
}

.show-block {
    display: block;
}

.show-inline-block {
    display: inline-block;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/*tools*/
@media all and (max-width: 1600px) {
    .block-xl {
        display: block;
        width: 100%;
    }

    .block-center-xl {
        margin: auto;
        display: block;
        width: 100%;
    }

    .hide-xl {
        display: none;
    }

    .show-inline-xl {
        display: inline;
    }

    .show-block-xl {
        display: block;
    }

    .show-inline-block-xl {
        display: inline-block;
    }

    .text-left-xl {
        text-align: left;
    }

    .text-center-xl {
        text-align: center;
    }

    .text-right-xl {
        text-align: right;
    }
}

@media all and (max-width: 1280px) {
    .block-lg {
        display: block;
        width: 100%;
    }

    .block-center-lg {
        margin: auto;
        display: block;
        width: 100%;
    }

    .hide-lg {
        display: none;
    }

    .show-inline-lg {
        display: inline;
    }

    .show-block-lg {
        display: block;
    }

    .show-inline-block-lg {
        display: inline-block;
    }

    .text-left-lg {
        text-align: left;
    }

    .text-center-lg {
        text-align: center;
    }

    .text-right-lg {
        text-align: right;
    }
}

@media all and (max-width: 960px) {
    .block-md {
        display: block;
        width: 100%;
    }

    .block-center-md {
        margin: auto;
        display: block;
        width: 100%;
    }

    .hide-md {
        display: none;
    }

    .show-inline-md {
        display: inline;
    }

    .show-block-md {
        display: block;
    }

    .show-inline-block-md {
        display: inline-block;
    }

    .text-left-md {
        text-align: left;
    }

    .text-center-md {
        text-align: center;
    }

    .text-right-md {
        text-align: right;
    }
}

@media all and (max-width: 640px) {
    .block-sm {
        display: block;
        width: 100%;
    }

    .block-center-sm {
        margin: auto;
        display: block;
        width: 100%;
    }

    .hide-sm {
        display: none;
    }

    .show-inline-sm {
        display: inline;
    }

    .show-block-sm {
        display: block;
    }

    .show-inline-block-sm {
        display: inline-block;
    }

    .text-left-sm {
        text-align: left;
    }

    .text-center-sm {
        text-align: center;
    }

    .text-right-sm {
        text-align: right;
    }
}

@media all and (max-width: 320px) {
    .block-xs {
        display: block;
        width: 100%;
    }

    .block-center-xs {
        margin: auto;
        display: block;
        width: 100%;
    }

    .hide-xs {
        display: none;
    }

    .show-inline-xs {
        display: inline;
    }

    .show-block-xs {
        display: block;
    }

    .show-inline-block-xs {
        display: inline-block;
    }

    .text-left-xs {
        text-align: left;
    }

    .text-center-xs {
        text-align: center;
    }

    .text-right-xs {
        text-align: right;
    }
}

@media only screen and (max-width : 1200px) {
}
@media only screen and (max-width : 992px) {}
@media only screen and (max-width : 768px) {}
@media only screen and (max-width : 480px) {}
@media only screen and (max-width : 320px) {
    h1{
        font-size: 2.5rem;
    }
    .page-item h1{
        font-size: 2.5rem;
    }
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}